/*
================================================
Preset CSS
================================================
*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'grilroy';
    font-size: 12px;
    line-height: 16px;
    font-weight: 300;
    color: #6e7c90;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'grilroy';
    margin-top: 0;
    text-transform: none;
    color: #001a40;
    line-height: 1.2;
}

img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

.ovr-hidden {
    overflow: hidden;
    position: relative;
}

.top-bg {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}
